@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300&display=swap');

/* font-family: 'Inconsolata', monospace; */
/* font-family: 'Red Hat Mono', monospace; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: rgb(255, 255, 255);
    --turquoise : turquoise;
    --blue: rgb(0, 68, 255);
    --grey: rgb(80, 80, 80);
}

body, html {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.line {
    margin: 30px auto;
    width: 70%;
    border-top: 10px solid var(--turquoise);
    border-radius: 20px;
}

/* NAVIGATION STYLING */
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    color: var(--white);
    font-family: 'Inconsolata', monospace;
}
.logo {
    font-size: 5vmin;
    margin-left: 20px;
    font-weight: 900;

}

.logo span {
    color: var(--turquoise);
    border-bottom: 3px solid var(--turquoise);
    border-radius: 2px;
}

.nav-list {
    display: flex;
    align-items: center;
    
}

.nav-list li {
    margin: 0px 20px;
    font-size: 3vmin;   
    transition: all 0.3s ease;
     
}

.nav-list li:hover {
    transform: scale(1.1);
}

.nav-list a {
    color: var(--white);
    transition: all 0.3s ease;
    border: 3px solid var(--white);
    padding: 4px;
    border-radius: 10px;
}

.nav-list a:hover {
    color: var(--turquoise);
    border: 3px solid var(--turquoise);
    padding: 4px;
    border-radius: 10px; 
} 

.menu-button {
    display: none;
    color: var(--white);
    font-size: 4vmin;
    position: absolute;
    top: 20px;
    right: 40px;
    }

/* HEADER SECTION */

header {
    background-image:linear-gradient(rgb(0,0,0,0.6),rgb(0,0,0,0.6)), url(assets/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Red Hat Mono', monospace;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    text-align: center;
}

.header-content h1 {
    font-size: 5vmin;
    border-style: solid;
    border-width: 7px;
    border-radius: 20px;
    padding: 6px 10px;
    margin: 80px auto;
    width: 80%;
}

@keyframes progAnim{
    50% {
        color: var(--turquoise);
    }
    100% {
        color: var(--white);
    }
}

.header-content span {
    animation-name: progAnim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.header-content p {
    margin: 20px 100px;    
    font-size: 3vmin;
    font-weight: 900;
    line-height: 5vmin;
}

/* ABOUT STYLING */

.about .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 60px auto;
    text-align: center;
    font-family: 'Red Hat Mono', monospace;
}

.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.about h2 {
    font-size: 3.5vmin;
    margin: 40px auto;
}

.about p {
    margin: 20px auto;
    text-align: left;
    font-weight: 900;
    font-size: 2.5vmin;
}

.about img {
    width: 90%;
    border-radius: 50%;
    transition: 1s ease;
}

.about img:hover {
    transform: scale(1.1);
}


/* ABOUT2 STYLING */

.about2 .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 60px auto;
    text-align: center;
    font-family: 'Red Hat Mono', monospace;
    background: var(--grey);
    color: var(--white);
}

.about2 .content{
    width: 50%;
}

.about2 h2 {
    font-size: 4vmin;
    margin: 30px auto;
}

.about2 p {
    font-size: 3vmin;
    margin: 20px 40px;
    text-align: left;
}

.about2 .cards {
    width: 50%;
}

.cards-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}
.cards-content img {
    max-width: 200px;
    margin: 80px;
}

@keyframes imgAnimation2 {
    0% {
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.cards-content img {
    animation-name: imgAnimation2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}


@media screen and (max-width: 992px) {
    .navbar{
        padding: 0; 
        position: relative;
        top: 0;
        left: 0;
    }

    .menu-button {
        display: block;
    }

    .logo {
        position: absolute;
        top: 20px;
        left: 40px;
    }

    .nav-list {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background-color: rgb(104, 104, 104);
        margin-top: -1200px;
        /* border-bottom-left-radius: 500px;
        border-bottom-right-radius: 500px; */
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
    }

    .nav-list li {
        margin: 20px auto;
    }

    .mobile-menu {
        margin-top: 0px;
    }

    .row {
        flex-direction: column;
        align-items: center;
    }

    .row .col {
        width: 80%;
    }

    .cards-content {
        justify-content: center;
        
    }
}